<div *ngIf="result_you">
    <mat-card>
        <div *ngIf="evaluation_type === 'credibility'">
            <a mat-raised-button color="primary"
                [routerLink]="[ '/credibility/profiles', result_you.screen_name ]">&rarr; See the new evaluation
                &larr;</a>
        </div>
        <div>
            <h3><a href="https://twitter.com/{{result_you.screen_name}}" target="_blank">{{result_you.screen_name}}</a>
            </h3>
            <div>We looked at {{result_you.tweets_cnt}} tweets from this profile.</div>
            <div *ngIf="result_you.score >= 50" class="good">The score is {{result_you.score| number : '1.2-2'}}/100.
            </div>
            <div *ngIf="result_you.score < 50" class="bad">The score is {{result_you.score| number : '1.2-2'}}/100.
            </div>
            <!-- <div>Your score is: {{result_you.score | number : '1.2-2'}}% (0% is linked to misinformation, 50% is unknown, 100% is valid)</div> -->
            <div>This is how the URLs that have been shared by <a
                    href="https://twitter.com/{{result_you.screen_name}}">{{result_you.screen_name}}</a> are classified
            </div>
            <h2 fxShow.xs="true" fxShow.gt-xs="false">{{result_you.shared_urls_cnt}} URLs analysed</h2>
            <div class="piechart-container">
                <ngx-charts-pie-chart fxShow.xs="true" fxShow.gt-xs="false" [scheme]="colorScheme"
                    [results]="pie_data_you" [gradient]="gradient" [labels]="true">
                </ngx-charts-pie-chart>
                <ngx-charts-advanced-pie-chart fxShow.xs="false" fxShow.gt-xs="true" label="URLs analysed"
                    [scheme]="colorScheme" [results]="pie_data_you" [gradient]="gradient">
                </ngx-charts-advanced-pie-chart>
            </div>
        </div>
    </mat-card>
    <p></p>
    <div>

        <mat-card class="mat-elevation-z5">
            <h3>Details of the URLs shared</h3>

            <ngx-nestable [(list)]="list" [options]="options" [template]="itemTemplate">
            </ngx-nestable>

            <ng-template #itemTemplate let-row>
                <!-- <button mat-icon-button [ngxNestableDragHandle]="row">
              <mat-icon>drag_handle</mat-icon>
            </button> -->
                <div fxLayout="column" class="full-width">
                    <div [ngxNestableExpandCollapse]="row" fxLayout="row" class="full-width">
                        <button mat-icon-button *ngIf="row.item.children && row.item.children.length; else empty_item">
                            <mat-icon>{{row.item.$$expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
                            </mat-icon>
                        </button>

                        <div [class]="row.item.class">
                            <mat-icon *ngIf="row.item.icon" class="material-icons md-24">{{row.item.icon}}</mat-icon>
                            {{row.item.label}}
                        </div>
                        <span fxFlex></span>
                        <div>{{row.item.count}}</div>
                    </div>
                    <div *ngIf="!row.item.children" class="full-width">
                        <!-- display content for leaf nodes -->
                        <app-table-tweets [data]="row.item.tweets" fxFlex="100%"></app-table-tweets>
                    </div>
                </div>
            </ng-template>

            <ng-template #empty_item>
                <span style="width: 40px"></span>
            </ng-template>
        </mat-card>

    </div>
</div>