<div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field>
            <mat-label for="screen_name">Twitter URL</mat-label>
            <input matInput placeholder="Twitter URL" required="true" [formControl]="formField" pattern="[a-zA-Z0-9_]+"
                appValidatePrevent [matAutocomplete]="auto">
            <span matPrefix>twitter.com/</span>
            <mat-error *ngIf="!formField.valid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- #auto="matAutocomplete" [displayWith]="displayFn" -->
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let result of results" [value]="result.screen_name">
                    <span><b>{{result.name}}</b> - ({{result.screen_name}})</span>
                </mat-option>
            </ng-container>
        </mat-autocomplete>
        <button type="submit" mat-raised-button color="accent" [disabled]="!formField.valid">Assess</button>
    </div>
    <p>Input the screen name (the part after the '@', e.g. <i>realDonaldTrump</i>)</p>
    <p>You can even paste the URL to the profile (e.g. <i>https://twitter.com/realDonaldTrump)</i></p>
</div>