<div>
  <mat-card>
    <h2>What is MisinfoMe?</h2>
    <img src="assets/MisinfoMe-improved-screen-res-03.png" alt="logo" class="center proper-size">
    <p>This tool performs an analysis of twitter profiles and the accounts followed, with the goal to measure the
      influence of misinformation in the life of the citizens.</p>
    <p>This tool has been developed as part of the <a href="https://coinform.eu/">Co-Inform EU project</a>.</p>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>How does it work?</h2>
    <p>MisinfoMe is connected to Twitter and to fact-checkers, in order to provide to you insights about the credibility
      of the tweets that you see.</p>
    <!-- normal layout for large screen  fxShow.xs="false" fxShow.gt-xs="true" -->
    <div class="chart-container" >
      <ngx-graph [layout]="'dagre'" [autoZoom]="true" [autoCenter]="true" [links]="diagram_graph.links"
        [nodes]="diagram_graph.nodes" [draggingEnabled]="false" [panningEnabled]="false" [enableZoom]="false"
        [animate]="true">
        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
              [attr.fill]="node.data.colour" rx="8" />
            <svg:text dominant-baseline="middle" text-anchor="middle" [attr.x]="node.dimension.width / 2"
              [attr.y]="node.dimension.height / 2" [attr.fill]="node.data.textColour || 'black'" font-size="30">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>
        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
    <!-- with vertical layout for small screens -->
    <!-- <div class="chart-container-vertical" fxShow.xs="true" fxShow.gt-xs="false">
      <ngx-graph [layout]="'dagre'" [autoZoom]="true" [autoCenter]="true" [links]="diagram_graph.links"
        [nodes]="diagram_graph.nodes" [draggingEnabled]="false" [panningEnabled]="false" [enableZoom]="false"
        [animate]="true" [layoutSettings]="layoutSettingsVertical">
        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
              [attr.fill]="node.data.colour" rx="8" />
            <svg:text dominant-baseline="middle" text-anchor="middle" [attr.x]="node.dimension.width / 2"
              [attr.y]="node.dimension.height / 2" [attr.fill]="node.data.textColour || 'black'" font-size="30">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>
        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div> -->
    <div>
      <p>This application performs the following steps:</p>
      <ul>
        <li>From the user handle you provide, it retrieves the tweets created or retweeted by the account.</li>
        <li>The URLs related to the tweet (contained in the tweet, and the URL of the tweet itself) are extracted.</li>
        <li>The account is assigned a score, by evaluating the URLs against the <i>Credibility Model</i>, which means:
          <ul>
            <li>looking for exact matches with URLs that have been analysed by fact-checkers</li>
            <li>looking at the sources that are behind the URLs and getting <a
                [routerLink]="[ '/credibility/sources' ]">how
                they are scored by external assessments</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>How are the scores computed?</h2>
    <p>Maybe here a representation of the concepts/flow</p>
    <table class="full-width">
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
      <tr>
        <td>Why my score is like that?</td>
        <td>The tweets you published contain the URLs highlighted</td>
      </tr>
      <tr>
        <td>Why a URL is labeled like that?</td>
        <td>1. it has been fact-checked<br>2. it comes from a source that has been analysed</td>
      </tr>
      <tr>
        <td>Why this source is labeled like that?</td>
        <td>1. These origin rated it in this way (original assessment), we translated using these mappings <br>2. This
          source has been fact-checked several times, x positive y negative<br>
          You can see a detailed analysis by clicking on the score, or by entering it <a
            [routerLink]="[ '/credibility/sources' ]">here</a>
        </td>
      </tr>
      <tr>
        <td>Why should I trust this origin of assessment?</td>
        <td>proofs</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>The information sources</h2>
    <p>based on different kind of information</p>
    <ul>
      <li>source-level assessments</li>
      <li>fact-checking data</li>
    </ul>
    <div>
      <table mat-table [dataSource]="about_stats" class="mat-elevation-z8">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>
            <h2>Type</h2>
          </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/about/' + element.type]">{{element.type}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>
            <h2>Count</h2>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>Contacts</h2>
    <p>This tool has been developed as part of the <a href="https://coinform.eu/">Co-Inform EU project</a>.</p>
    <p>The development is being done in the <a href="http://kmi.open.ac.uk">Knowledge Media Institute (KMi)</a>, part of
      the Open University.</p>
    <div>
      <p>Email: <a href="mailto:martino.mensio@open.ac.uk">martino.mensio@open.ac.uk</a></p>
    </div>
  </mat-card>
</div>