<div>
  <mat-card>
    <h2>What is MisinfoMe?</h2>
    <p>Logo</p>
    <p>This tool performs an analysis of twitter profiles and the accounts followed, with the goal to measure the
      influence of misinformation in the life of the citizens.</p>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>The evaluation process</h2>
    <p>How the evaluation process works</p>
    <ul>
      <li>Retrieval of the tweets</li>
      <li>Comparison with the knowledge base</li>
      <li>Computation of the scores</li>
    </ul>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>Transparency / questioning</h2>
    <p>Maybe here a representation of the concepts/flow</p>
    <table>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
      <tr>
        <td>Why my score is like that?</td>
        <td>The tweets you published contain the URLs highlighted</td>
      </tr>
      <tr>
        <td>Why a URL is labeled like that?</td>
        <td>1. it has been fact-checked<br>2. it comes from a source that has been analysed</td>
      </tr>
      <tr>
        <td>Why this source is labeled like that?</td>
        <td>1. These origin rated it in this way (original assessment), we translated using these mappings <br>2. This
          source has been fact-checked several times, x positive y negative</td>
      </tr>
      <tr>
        <td>Why should I trust this origin of assessment?</td>
        <td>proofs</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>The information sources</h2>
    <p>based on different kind of information</p>
    <ul>
      <li>source-level assessments</li>
      <li>fact-checking data</li>
    </ul>
    <div>
      <table mat-table [dataSource]="about_stats" class="mat-elevation-z8">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>
            <h2>Type</h2>
          </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/about/' + element.type]">{{element.type}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>
            <h2>Count</h2>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
  <p></p>
  <mat-card>
    <h2>Contacts</h2>
    <p>This tool has been developed as part of the <a href="https://coinform.eu/">Co-Inform EU project</a>.</p>
    <p>The development is being done in the <a href="http://kmi.open.ac.uk">Knowledge Media Institute (KMi)</a>, part of
      the Open University.</p>
    <div>
      <p>Email: <a href="mailto:martino.mensio@open.ac.uk">martino.mensio@open.ac.uk</a></p>
    </div>
  </mat-card>
</div>