<div>
    <!-- TODO <mat-form-field>
        <mat-label>Evaluation type</mat-label>
        <mat-select [(value)]="evaluation_type">
            <mat-option *ngFor="let o of evaluation_type_options" [value]="o.id">
                {{o.name}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>How you want to see the credibility indicator</mat-label>
        <mat-select [(value)]="credibility_meter_type">
            <mat-option *ngFor="let o of credibility_meter_type_options" [value]="o.id">
                {{o.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Weights (TODO this needs to be done also server-side) -->

    <button mat-button color="accent" mat-raised-button (click)="clearSettings()">Reset</button>
    <button mat-button color="primary" mat-raised-button (click)="save()">Save</button>
</div>