<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="data">

    <ng-container matColumnDef="tweet_text">
      <th mat-header-cell *matHeaderCellDef> <h2>Tweet</h2> </th>
      <td mat-cell *matCellDef="let element">
        <div class="w500">
          <ngx-tweet tweetId="{{element.tweet_id}}" width="500"></ngx-tweet>
        </div>
      </td>
      <!--<ngx-tweet tweetId="{{element.tweet_id}}"></ngx-tweet>-->
      <!--<p class="max-200"><a href="https://twitter.com/foo/status/{{element.tweet_id}}">{{element.tweet_text}}</a></p> -->
    </ng-container>

    <ng-container matColumnDef="urls">
      <th mat-header-cell *matHeaderCellDef> <h2>URLs</h2> </th>
      <td mat-cell *matCellDef="let element"> {{element.urls}} </td>
    </ng-container>
    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef> <h2>Reason</h2> </th>
      <td mat-cell *matCellDef="let element">
        <p class="max-200 justify">You <i *ngIf="!element.retweet">tweeted</i><i *ngIf="element.retweet">retweeted</i> that and
          the <a href="{{element.url}}" target="_blank">URL contained</a><b> {{get_friendly_reason(element.reason, element.label)}}.</b>
          <span *ngIf="element.rebuttals"> Recommended URLs
            <a *ngFor="let rebuttal of element.rebuttals" href="{{rebuttal.url}}">{{rebuttal.source}}</a>
          </span>
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="dataset_names">
      <th mat-header-cell *matHeaderCellDef> <h2>Dataset</h2> </th>
      <td mat-cell *matCellDef="let element">
        <div class="max-200">
          <div *ngFor="let dataset of element.datasets">
            <mat-card [style.backgroundColor]="'#eeeeee'">
              <a class="justify" href="{{dataset.url}}" target="_blank">{{dataset.name}}</a>
            </mat-card>
            <p></p>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>