<div class="mat-elevation-z8">
    <h2>{{profileAssessment.itemReviewed}}</h2>
    <p>This is an analysis based on the sources used in the tweets</p>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <!-- first column: general info and aggregated indicator -->
        <div>
            <h3>Computed credibility</h3>
            <app-credibility-meter [credibility]='profileAssessment.credibility' [size]="150"></app-credibility-meter>
        </div>
        <!-- second column: details and source assessments -->
        <div>
            <h3>The list of sources used</h3>
            <div>
                <div *ngIf="!profileAssessment.assessments.length">
                    <p>We don't have any information about the sources used!</p>
                </div>
                <div style="max-height: 500px; overflow-y:scroll;" fxLayout="column" fxLayoutGap="10px">
                    <!-- | orderBy: -assessment.credibility.value http://fuelinteractive.github.io/fuel-ui/#/pipe/orderby -->
                    <div *ngFor="let assessment of profileAssessment.assessments">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <h4>{{assessment.itemReviewed}}</h4>
                                <p>What is this source?</p>

                            </div>
                            <div>
                                <p>Used weight for this source?</p>
                                <p>Times mentioned this source? (Tweets)</p>
                            </div>
                            <button mat-raised-button matTooltip="See details for this source"
                                [routerLink]="[ '/credibility/sources', assessment.itemReviewed ]">
                                <app-credibility-meter [credibility]='assessment.credibility'></app-credibility-meter>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>