mat-form-field {
    width: 100%;
  }

.bad {
    color: rgb(161, 10, 40);
}

.good {
    color: rgb(90, 164, 84);
}
.mixed {
    color: rgb(199, 180, 44);
}

.center {
    margin: 0 auto;
}

.table-container-2 {
    height: 400px;
    overflow: auto;
    background-color: bisque;
}

.mat-slider-horizontal {
    width: 300px;
}