<div>
  <h1>MisinfoMe</h1>
  <p>It is hard to distinguish fact from fiction on social media.</p>
  <p>Assess any Twitter profile, we will verify if its tweets contain some misinformation.</p>
  <mat-card>
    <form #main_form="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="screen_name">Twitter URL</mat-label>
        <input matInput placeholder="Twitter URL" required="true" [formControl]="screen_name" pattern="[a-zA-Z0-9_]+"
          appValidatePrevent>
        <span matPrefix>twitter.com/</span>
        <mat-error *ngIf="!screen_name.valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="accent" [disabled]="!screen_name.valid">Assess</button>
      <p>Input the screen name (the part after the '@', e.g. <i>realDonaldTrump</i>)</p>
      <p>You can even paste the URL to the profile (e.g. <i>https://twitter.com/realDonaldTrump)</i></p>
    </form>
  </mat-card>
  <p></p>
  <!-- <app-graph [data]="data_for_graph"></app-graph> -->
  <div *ngIf="show_you">
    <mat-card>
      <mat-spinner *ngIf="loading_you" class="center"></mat-spinner>
      <div *ngIf="error_you">Error! Something is wrong in the communication with the backend!</div>
      <div *ngIf="!loading_you && !error_you" [@enterAnimation]>
        <h3><a href="https://twitter.com/{{result_you.screen_name}}" target="_blank">{{result_you.screen_name}}</a></h3>
        <div>We looked at {{result_you.tweets_cnt}} tweets from this profile.</div>
        <div *ngIf="result_you.score >= 50" class="good">The score is {{result_you.score}}/100.</div>
        <div *ngIf="result_you.score < 50" class="bad">The score is {{result_you.score}}/100.</div>
        <!-- <div>Your score is: {{result_you.score | number : '1.2-2'}}% (0% is linked to misinformation, 50% is unverified, 100% is valid)</div> -->
        <div>This is how the URLs that have been shared by <a
            href="https://twitter.com/{{result_you.screen_name}}">{{result_you.screen_name}}</a> are classified</div>
        <h2 fxShow.xs="true" fxShow.gt-xs="false">{{result_you.shared_urls_cnt}} URLs verified</h2>
        <div class="piechart-container">
          <ngx-charts-pie-chart fxShow.xs="true" fxShow.gt-xs="false" [scheme]="colorScheme" [results]="pie_data_you"
            [gradient]="gradient" [labels]="true">
          </ngx-charts-pie-chart>
          <ngx-charts-advanced-pie-chart fxShow.xs="false" fxShow.gt-xs="true" label="URLs verified"
            [scheme]="colorScheme" [results]="pie_data_you" [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </mat-card>
    <p></p>
    <div *ngIf="!error_you && !loading_you">
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="bad">
            <i class="material-icons md-24">error</i>These tweets have been identified as linked to misinformation
          </mat-panel-title>
          <mat-panel-description>
            Click to expand
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>The URLs may have been fact-checked or come from domains that typically share false content.</p>

        <app-table-tweets [data]="table_data_bad"></app-table-tweets>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="mixed">
            <i class="material-icons md-24">error</i>These tweets have been identified as linked to not completely true
            content
          </mat-panel-title>
          <mat-panel-description>
            Click to expand
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>The URLs may have been fact-checked and TODO.</p>

        <app-table-tweets [data]="table_data_mixed"></app-table-tweets>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="good">
            <i class="material-icons md-24">check_circle</i>These tweets have been identified as linked to verified
            content
          </mat-panel-title>
          <mat-panel-description>
            Click to expand
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>The URLs may have been fact-checked or come from domains that typically share verified content.</p>

        <app-table-tweets [data]="table_data_good"></app-table-tweets>

      </mat-expansion-panel> -->
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="material-icons md-24">info</i>These tweets have been identified as linked to controversial
            content
          </mat-panel-title>
          <mat-panel-description>
            Click to expand
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>For these URLs we cannot assert their truthiness but some of our datasets suggest different points of view
          so that you get a more complete idea of the problems discussed.</p>

        <app-table-tweets [data]="table_data_rebuttals"></app-table-tweets>


      </mat-expansion-panel> -->

      <mat-card class="mat-elevation-z5">
        <h3>Details of the URLs shared</h3>

        <ngx-nestable [(list)]="list" [options]="options" [template]="itemTemplate">
        </ngx-nestable>

        <ng-template #itemTemplate let-row>
          <!-- <button mat-icon-button [ngxNestableDragHandle]="row">
            <mat-icon>drag_handle</mat-icon>
          </button> -->
          <div fxLayout="column" style="width: 100%;">
            <div [ngxNestableExpandCollapse]="row" fxLayout="row" style="width: 100%;">
              <button mat-icon-button *ngIf="row.item.children && row.item.children.length; else empty_item">
                <mat-icon>{{row.item.$$expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
                </mat-icon>
              </button>

              <div [class]="row.item.class">
                <mat-icon *ngIf="row.item.icon" class="material-icons md-24">{{row.item.icon}}</mat-icon>
                {{row.item.label}}
              </div>
              <span fxFlex></span>
              <div>{{row.item.count}}</div>
            </div>
            <div *ngIf="!row.item.children" style="width: 100%">
              <!-- display content for leaf nodes -->
              <app-table-tweets [data]="row.item.tweets" fxFlex="100%"></app-table-tweets>
            </div>
          </div>
        </ng-template>

        <ng-template #empty_item>
          <span style="width: 40px"></span>
        </ng-template>
      </mat-card>

    </div>
  </div>
  <p></p>
  <mat-card *ngIf="!loading_you && !error_you && show_you">
    <div>
      <h3>The network of twitter profiles followed by <a
          href="https://twitter.com/{{result_you.screen_name}}">{{result_you.screen_name}}</a></h3>
      <p>The Twitter feed of any account is built with tweets that come from people that he is following. For this
        reason this tool
        can analyse the profiles that are being followed by the account you choose.</p>
      <p>{{result_you.screen_name}} is following {{friends_count || "..."}} profiles<span
          *ngIf="friends_analysis_show">,
          {{result_friends.twitter_profiles_cnt}} of them have already been analysed.</span></p>
      <p><i>*This is limited to the last 500 people added, and this number could be less because of private
          profiles</i></p>
      <mat-spinner *ngIf="loading_friends" class="center"></mat-spinner>
      <div *ngIf="friends_analysis_show">
        <mat-progress-bar [value]="result_friends.twitter_profiles_cnt / friends_count * 100"></mat-progress-bar>
        <p></p>
        <button mat-button mat-raised-button color="accent" [disabled]="analyse_remaining_disabled"
          (click)="analyse_remaining()">Analyse
          remaining</button>
        <div class="graph-container" [style.height.px]="getGraphHeight()">
          <ngx-charts-force-directed-graph class="chart-container" [legend]="false" [links]="friends_graph.links"
            [animations]="true" (legendLabelClick)="onLegendLabelClick($event)" [nodes]="friends_graph.nodes"
            [scheme]="colorScheme" [tooltipDisabled]="false" (select)="select_node($event)" [force]="graph_force"
            [forceLink]="graph_force_link">
            <ng-template #nodeTemplate let-node>
              <svg [attr.width]="node.options.size * 2" [attr.height]="node.options.size * 2">
                <defs>
                  <pattern attr.id="{{'image' + node.value}}" patternUnits="userSpaceOnUse"
                    [attr.height]="node.options.size * 2" [attr.width]="node.options.size * 2">
                    <image [attr.height]="node.options.size * 2" [attr.width]="node.options.size * 2"
                      attr.xlink:href="{{node.options.image}}"></image>
                  </pattern>
                </defs>
                <circle [attr.cx]="node.options.size" [attr.cy]="node.options.size" [attr.r]="node.options.size"
                  attr.fill="{{'url(#image'+node.value+')'}}" [attr.stroke]="node.options.stroke" stroke-width="20%"
                  cursor="pointer" />
              </svg>
            </ng-template>
            <ng-template #linkTemplate let-link>
              <svg:line strokeWidth="1" class="edge" [attr.x1]="link.source.x" [attr.y1]="link.source.y"
                [attr.x2]="link.target.x" [attr.y2]="link.target.y" [attr.stroke]="link.options.color"
                attr.transform="translate({{friends_graph.overall_move_x}}, {{friends_graph.overall_move_y}})" />
            </ng-template>
          </ngx-charts-force-directed-graph>
        </div>
        <div id="asdasdasd" style="height: 100px;"></div>
        <h2 fxShow.xs="true" fxShow.gt-xs="false">{{result_friends.shared_urls_cnt}} URLs verified from the network
        </h2>
        <div class="piechart-container">
          <ngx-charts-pie-chart fxShow.xs="true" fxShow.gt-xs="false" label="URLs verified from the network"
            [scheme]="colorScheme" [results]="pie_data_friends" [gradient]="gradient" [labels]="true">
          </ngx-charts-pie-chart>
          <ngx-charts-advanced-pie-chart fxShow.xs="false" fxShow.gt-xs="true" label="URLs verified from the network"
            [scheme]="colorScheme" [results]="pie_data_friends" [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
      <!-- <div *ngIf="best_friend">
        <h4>Your best-scoring friend</h4>
        <div><a href="https://twitter.com/{{best_friend.screen_name}}" target="_blank">{{best_friend.screen_name}}</a> with a <a [routerLink]="['/analyse', best_friend.screen_name]">score of {{best_friend.score}}</a></div>
        <ngx-charts-advanced-pie-chart label="URLs verified from {{best_friend.screen_name}}" [view]="[1000,200]"
          [scheme]="colorScheme" [results]="best_friend_pie_data" [gradient]="gradient"></ngx-charts-advanced-pie-chart>
      </div> -->
      <!-- <div *ngIf="worst_friend">
        <h4>Your worst-scoring friend</h4>
        <div><a href="https://twitter.com/{{worst_friend.screen_name}}" target="_blank">{{worst_friend.screen_name}}</a>
          with a score of <a [routerLink]="['/analyse', worst_friend.screen_name]">score of {{worst_friend.score |
            number : '1.2-2'}}</a></div>
        <ngx-charts-advanced-pie-chart label="URLs verified from {{worst_friend.screen_name}}" [view]="[1000,200]"
          [scheme]="colorScheme" [results]="worst_friend_pie_data" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
      </div> -->
      <mat-expansion-panel class="mat-elevation-z5">
        <mat-expansion-panel-header>
          <mat-panel-title>
            The worst-scoring profiles
          </mat-panel-title>
          <mat-panel-description>
            Click to expand
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <h2>The profiles of the network friends have been sorted by their score.</h2>
          <p>Maximum number of friends displayed: {{max_worst}} / 30</p>

          <!-- <mat-form-field ngNativeValidate>
              <mat-label for="max_cnt">How many to show</mat-label>
              <input type="number" min="1" max="20" step="1" matInput [(ngModel)]="max_worst">
            </mat-form-field> -->
          <mat-slider min="1" max="30" step="1" [thumbLabel]="true" [(value)]="max_worst"></mat-slider>
          <h3>Sorting criterion</h3>
          <mat-form-field>
            <mat-select placeholder="select betweent the avaliable criteria" [(ngModel)]="chosen_criterion">
              <mat-option *ngFor="let c of sorting_criteria" [value]="c.value">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="table-container-2">
            <div *ngFor=" let f of friends_results_sorted; let i=index">
              <div *ngIf="i < max_worst">
                <h3 fxShow.xs="true" fxShow.gt-xs="false">URLs verified from {{f.screen_name}}</h3>
                <div class="piechart-container-tiny">
                  <ngx-charts-pie-chart fxShow.xs="true" fxShow.gt-xs="false" [scheme]="colorScheme"
                    [results]="pie_data_overall" [gradient]="gradient" [labels]="true">
                  </ngx-charts-pie-chart>
                  <ngx-charts-advanced-pie-chart fxShow.xs="false" fxShow.gt-xs="true"
                    label="URLs verified from {{f.screen_name}}" [view]="[undefined, 200]" [scheme]="colorScheme"
                    [results]="f.pie_data" [gradient]="gradient">
                  </ngx-charts-advanced-pie-chart>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
      <!-- <div *ngIf="worst_friend">
        <h4>Your worst-scoring friends</h4>
        <div><a href="https://twitter.com/{{worst_friend.screen_name}}" target="_blank">{{worst_friend.screen_name}}</a>
          with a score of <a [routerLink]="['/analyse', worst_friend.screen_name]">score of {{worst_friend.score |
            number : '1.2-2'}}</a></div>
        <ngx-charts-advanced-pie-chart label="URLs verified from {{worst_friend.screen_name}}" [view]="[1000,200]"
          [scheme]="colorScheme" [results]="worst_friend_pie_data" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
      </div> -->
    </div>
  </mat-card>
  <p></p>
  <mat-card *ngIf="!loading_overall && !error_overall && !loading_you && !error_you && show_you">
    <div>
      <h3>{{result_you.screen_name}} against the average user</h3>
      <div>The comparison between the score of {{result_you.screen_name}} and the average user</div>
      <div class="barchart-container">
        <ngx-charts-bar-horizontal-normalized [scheme]="colorScheme" [results]="you_vs_average_multi" legend="true"
          xAxis="true" showDataLabel="true" yAxis="true" showXAxisLabel="true" xAxisLabel="URLs shared">
        </ngx-charts-bar-horizontal-normalized>
      </div>
      <div class="barchart-container">
        <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="you_vs_average" xScaleMax="100" xAxis="true"
          showDataLabel="true" yAxis="true" showXAxisLabel="true" xAxisLabel="Score"
          [xAxisTicks]="[0, 25, 50, 75, 100]"></ngx-charts-bar-horizontal>
      </div>
      <div>
        <p *ngIf="result_you.score < result_overall.score && result_you.score < 50" class="bad"><i
            class="material-icons md-48">error</i> {{result_you.screen_name}} has spread more misinformation than the
          average of our users</p>
        <p *ngIf="result_you.score > result_overall.score && result_you.score > 50" class="good"><i
            class="material-icons md-24">check_circle</i>
          {{result_you.screen_name}} has spread less misinformation than the average of our users</p>
      </div>
    </div>
  </mat-card>
  <p></p>
  <mat-card>
    <mat-spinner *ngIf="loading_overall && !result_friends" class="center"></mat-spinner>
    <div *ngIf="error_overall">Error! Something is wrong in the communication with the backend!</div>
    <div *ngIf="!error_overall && (result_friends || !loading_overall)">
      <h3>How our assessment works</h3>
      <div>
        <p>We look at your Twitter profile. For those tweets with URLs, we verify whether they have been already
          detected as misinformation by fact-checkers/experts.</p>
        <p>So far we have analysed {{result_overall.tweets_cnt}} tweets coming from
          {{result_overall.twitter_profiles_cnt}} Twitter profiles.</p>
      </div>
      <!-- overflow: hidden; -->
      <div style="display: grid;">
        <ngx-charts-pie-chart fxShow.xs="true" fxShow.gt-xs="false" label="URLs verified" [scheme]="colorScheme"
          [results]="pie_data_overall" [gradient]="gradient" [labels]="true">
        </ngx-charts-pie-chart>
        <ngx-charts-advanced-pie-chart fxShow.xs="false" fxShow.gt-xs="true" label="URLs verified"
          [scheme]="colorScheme" [results]="pie_data_overall" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
        <!-- <div style="height: 50px;"></div> -->
      </div>
      <p><a [routerLink]="['/about']">More about our verification process</a></p>
    </div>
  </mat-card>
</div>