<div>
  <h3>Domains</h3>
  <app-venn [sets]="domain_sets" [width]="1000"></app-venn>
  <div class="table-container">
    <table mat-table [dataSource]="domains" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef>
          <h2>Domain</h2>
        </th>
        <td mat-cell *matCellDef="let element"> <a href="//{{element.domain}}">{{element.domain}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>
          <h2>Label</h2>
        </th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons md-24 good" *ngIf="element.score.label == 'true'">check_circle</i>
          <i class="material-icons md-24 bad" *ngIf="element.score.label == 'fake'">error</i>
        </td>
      </ng-container>

      <ng-container matColumnDef="{{d.name}}" *ngFor="let d of domain_datasets_list; let i=index">
        <th mat-header-cell *matHeaderCellDef class="rotate">
          <div><span><a href="{{d.url}}">{{d.name}}</a></span></div>
        </th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons md-24" *ngIf="getScore(element, d)">check_circle</i>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>