.container {
    max-width: 1000px;
    padding: 25px;
    margin: auto;
}
.outer-container {
    position: absolute;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
}
@media(max-width: 599px) {
    /* follow the stupid resize of the mat-toolbar */
    .outer-container {
        top: 56px;
    }
}

.background {
    background-color: whitesmoke;
    min-height: 100%;
}

mat-toolbar {
    position: fixed;
    z-index: 1;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }