<div class="background">
  <div class="width-limit">
    <!-- fxLayoutAlign="center center" -->
    <mat-toolbar color="primary">
      <a mat-button [routerLink]="['/']">
        <img src="assets/MisinfoMe-icon-whiter.png" alt="logo" height="50px" style="padding-right: 20px;">
        <span>Home</span>
      </a>
      <mat-divider [vertical]="true"></mat-divider>
      <!-- <a mat-button [routerLink]="['/impact_factchecking']">Impact of fact-checking</a> -->
      <a mat-button [routerLink]="['/credibility/sources']">
        <span style="vertical-align: middle;">Credibility check</span>
      </a>
      <a mat-button [routerLink]="['/credibility/profiles']">
        <span style="vertical-align: middle;">Twitter analysis</span>
      </a>
      <!-- <a mat-button [routerLink]="['/claims']">
        <span style="vertical-align: middle;">Claim virality</span>
      </a> -->
      <mat-divider [vertical]="true"></mat-divider>

      <!-- This fills the remaining space of the current row -->
      <span style="flex: 1 1 auto;"></span>

      <a mat-button [routerLink]="['/about']">
        <span style="vertical-align: middle;">About</span>
      </a>

      <a mat-button [routerLink]="['/settings']">
        <fa-icon icon="cog"></fa-icon>
      </a>
    </mat-toolbar>
    <div class="outer-container">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>