<mat-card>
    <h2>How did this profile get this score?</h2>
    <p>Our analysis provides a final score, that you can see on the left, that is the result of a multi-level
        weighting scheme.</p>
    <ol>
        <li><b>Profile as a source</b>: We retrieve existing assessment for the profile. This includes:
            <ul>
                <li>Fact-checkers that have assessed the profile (e.g. look at <a
                        href="https://www.lemonde.fr/verification/" target="_blank;">Le Monde</a> )</li>
                <li>Fact-checkers that have posted a review of a tweet coming from that profile.</li>
            </ul>
            This has 60% weight on the final score. This part of the score is available just for profiles with high
            visibility.
        </li>
        <li><b>URLs shared</b>: we look at the URLs contained in the tweets and we check against our list. This has 25%
            weight on the final score. Internally to this score, the URL matches are weighted with respect to:
            <ul>
                <li>The credibility of the URL itself: if it has been proven as false, it will count more.</li>
                <li>The credibility of the fact-checkers that reviewed the URL</li>
            </ul>
        </li>
        <li><b>Sources used</b>: from the URLs of the tweets, we look at the credibility of the relative sources. This
            has 15% on the final score. Internally to this score, the credibility of the sources are weighted with
            respect to:
            <ul>
                <li>The number of times that the twitter profile under analysis has used it</li>
                <li>The credibility of the source: bad reputation will influence more the score</li>
                <li>Who assessed the credibility of the source</li>
            </ul>
        </li>
    </ol>
</mat-card>