<mat-card class="mat-elevation-z8">
    <h2>{{sourceAssessment.itemReviewed}}</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <!-- first column: general info and aggregated indicator -->
        <div>
            <h3>Credibility</h3>
            <app-credibility-meter [credibility]='sourceAssessment.credibility' [size]="150"></app-credibility-meter>
        </div>
        <!-- second column: details and source assessments -->
        <div fxLayout="column">
            <div *ngIf="sourceAssessment.assessments.length === 0">
                <p>This source has not been evaluated yet!</p>
                <!-- TODO do this automatically -->
                <p>If this is a Twitter account, try to <a [routerLink]="[ '/credibility/profiles' ]">Analyse the
                        content that has been shared in the tweets!</a></p>
            </div>
            <div *ngIf="sourceAssessment.assessments.length > 0">
                <!-- <div *ngIf="!sourceAssessment.assessments_without_fc.length">
                    <p>No one rated this source directly.</p>
                </div> -->
                <div *ngIf="sourceAssessment.assessments_without_fc.length" fxLayout="column">
                    <h3>Source-level assessments</h3>
                    <div *ngIf="sourceAssessment.assessments_without_fc.length" fxLayout="row wrap" fxLayoutGap="10px grid"
                        class="mat-elevation-z8 padded" style="overflow-x: auto;" fxFlex="100%">
                        <div *ngFor="let assessment of sourceAssessment.assessments_without_fc">
                            <div>
                                <!-- this is one card -->
                                <a matTooltip="See the assessment" [href]="assessment.url" target="_blank" class="button-regular link-cool">
                                    <div class="mat-elevation-z4 padded">
                                        <p>{{assessment.origin.name}}</p>
                                        <div style="width: 100px; height: 70px; justify-content: center" class="center"
                                            fxLayoutAlign="center center">
                                            <img [src]="assessment.origin.logo" appImgFallback
                                                style="max-height: 100%; max-width: 100%;">
                                        </div>
                                        <div>
                                            <app-credibility-meter [credibility]='assessment.credibility'>
                                            </app-credibility-meter>
                                            <!-- <p>Weight: {{assessment.weights.final_weight | number:'1.2-2'}}</p> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="full-width">
                    <h3>Fact-check analysis</h3>
                    <p>How many times claims belonging to this source have been fact-checked</p>
                    <div *ngIf="!factcheckingReports">No factchecks found for this source!</div>
                    <div *ngIf="factcheckingReports">
                        <div fxLayout="row" fxLayout.lt-sm="column">
                            <!-- <div>
                    <mat-card class="mat-elevation-z4">
                        <app-credibility-meter [credibility]='factcheckingReports.credibility' [size]="100">
                        </app-credibility-meter>
                    </mat-card>
                </div> -->
                            <div class="chart-container" fxFlex="90%">
                                <ngx-charts-bar-horizontal-stacked [results]="chartData" [scheme]="colorScheme"
                                    [yAxis]="true" [xAxis]="true" [legend]="true"></ngx-charts-bar-horizontal-stacked>
                            </div>
                        </div>
                        <div>
                            <mat-expansion-panel class="mat-elevation-z5">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Details of fact-checking report
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Click to expand
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div>
                                    <h2>These are reports published by fact-checkers</h2>

                                    <mat-card class="table-container-2 mat-elevation-z5">
                                        <div *ngFor=" let d of byFactchecker; let i=index">
                                            <div *ngIf="d.origin_id">
                                                {{d.origin_id}}:
                                                <ul>
                                                    <li *ngIf="d.negative">
                                                        {{d.negative.length}} times as fake:
                                                        <a *ngFor="let fc of d.negative; let i = index" href="{{fc}}"
                                                            target="_blank">[{{i+1}}]</a>
                                                    </li>
                                                    <li *ngIf="d.positive">
                                                        {{d.positive.length}} times as true:
                                                        <a *ngFor="let fc of d.positive; let i = index" href="{{fc}}"
                                                            target="_blank">[{{i+1}}]</a>
                                                    </li>
                                                    <li *ngIf="d.mixed">
                                                        {{d.mixed.length}} times as mixed:
                                                        <a *ngFor="let fc of d.mixed; let i = index" href="{{fc}}"
                                                            target="_blank">[{{i+1}}]</a>
                                                    </li>
                                                    <li *ngIf="d.unknown">
                                                        {{d.unknown.length}} times as unknown:
                                                        <a *ngFor="let fc of d.unknown; let i = index" href="{{fc}}"
                                                            target="_blank">[{{i+1}}]</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>

                            </mat-expansion-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</mat-card>