<div class="mat-elevation-z8">
    <h2>{{sourceAssessment.itemReviewed}}</h2>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <!-- first column: general info and aggregated indicator -->
        <div>
            <h3>Computed credibility</h3>
            <div>
                <p>Value: {{sourceAssessment.credibility.value}}</p>
                <p>Confidence: {{sourceAssessment.credibility.confidence}}</p>
                <div *ngIf='sourceAssessment.credibility.confidence == 0'>
                    <p>Unknown!!!</p>
                </div>
            </div>
            <div></div>
        </div>
        <!-- second column: details and source assessments -->
        <div>
            <h3>The existing assessments</h3>
            <div>
                <div *ngIf="!sourceAssessment.assessments.length">
                    <p>We don't have any information about this source!</p>
                </div>
                <div *ngFor="let assessment of sourceAssessment.assessments">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div>
                            <h4>{{assessment.origin_id}}</h4>
                            <p>What is this origin?</p>

                        </div>
                        <div>
                            <p>Why should I trust this origin?</p>
                            <p>How much weight has this origin?</p>
                        </div>
                        <div>
                            <p><a [href]="assessment.url" target="_blank">See the original</a></p>
                        </div>
                        <div>
                            <p>Value: {{assessment.credibility.value}}</p>
                            <p>Confidence: {{assessment.credibility.confidence}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>