/* cropped labels in advanced pie chart https://github.com/swimlane/ngx-charts/issues/717 */
.advanced-pie-legend {
    line-height: 32px;
}

.center {
    margin: 0 auto;
}

.padded {
    padding: 15px;
}

/* https://github.com/swimlane/ngx-graph/issues/110 blocking scroll  */
ngx-graph {
    pointer-events: none;
}
svg .nodes {
    pointer-events: auto;
}