<div>
    <h2 class="center" style="text-align: center;">Tweet analysis</h2>
    <div *ngIf="!state_tweet_id">
        <h3>Search for a tweet</h3>
        <div>TODO</div>
    </div>
    <div *ngIf="state_tweet_id">
        <div *ngIf="analysis_state == loadStates.Loading">
            <mat-spinner class="center"></mat-spinner>
            <p style="text-align:center;" class="primary-color">{{loading_str}}</p>
        </div>
        <app-error *ngIf="analysis_state == loadStates.Error" [message]='error_detail_tweet'></app-error>
        <div *ngIf="analysis_state == loadStates.Loaded" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
            <!-- <ngx-tweet tweetId="{{element.tweet_id}}" width="500"></ngx-tweet> -->
            <div style="width: 500px;">
                <div *ngIf="!tweetCredibility.exception">
                    <ngx-tweet [tweetId]="state_tweet_id" width="500"></ngx-tweet>
                </div>
                <div *ngIf="tweetCredibility.exception">
                    <app-error message='The tweet is not available from the Twitter API. It has probably been removed or deleted. However, we have some information about it.'></app-error>
                    <!-- <p>{{tweetCredibility.exception.json_error.detail}}</p> -->
                </div>
            </div>
            <div style="width: 500px;">
                <div>
                    <mat-card>
                        <h3>Credibility</h3>
                        <div>
                            <app-credibility-meter [credibility]='tweetCredibility.credibility' [size]="150">
                            </app-credibility-meter>
                        </div>
                        <div>
                            <markdown [data]="tweetCredibility.ratingExplanation"></markdown>
                        </div>
                        <div *ngIf="tweetCredibility.tweet_direct_credibility">
                            <div mat-raised-button>
                                <!-- <h4 *ngIf="tweetCredibility.tweet_direct_credibility.credibility.confidence <= 0.5 ">Fact-checked: Not Verifiable</h4>
                                <h4 *ngIf="tweetCredibility.tweet_direct_credibility.credibility.confidence > 0.5 && tweetCredibility.tweet_direct_credibility.credibility.value >= 0.6">Fact-checked: Credible</h4>
                                <h4 *ngIf="tweetCredibility.tweet_direct_credibility.credibility.confidence > 0.5 && tweetCredibility.tweet_direct_credibility.credibility.value > 0.25 && tweetCredibility.tweet_direct_credibility.credibility.value < 0.6">Fact-checked: Mostly Credible</h4>
                                <h4 *ngIf="tweetCredibility.tweet_direct_credibility.credibility.confidence >= 0.5 && tweetCredibility.tweet_direct_credibility.credibility.value <= -0.25">Fact-checked: Not credible</h4>
                                <h4 *ngIf="tweetCredibility.tweet_direct_credibility.credibility.confidence > 0.5 && tweetCredibility.tweet_direct_credibility.credibility.value > -0.25 && tweetCredibility.tweet_direct_credibility.credibility.value < 0.25">Fact-checked: Uncertain</h4> -->
                                <p>The following reports are available:</p>
                                <ul>
                                    <li *ngFor="let l of fact_checks">
                                        Labelled as <b>{{l.coinform_label}}</b> by {{l.origin?.id}}: <a href="{{l.report_url}}">report</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <!-- profile as a source -->
                            <!-- TODO: this is always empty -->
                            <div fxFlex="33%">
                                <div>
                                    <!-- info-circle fontawesome -->
                                    <p style="text-align: center;">Profile</p>
                                    <app-credibility-meter [credibility]='tweetCredibility.profile_as_source_credibility.credibility' [size]="80">
                                    </app-credibility-meter>
                                </div>
                                <button *ngIf="tweetCredibility.profile_as_source_credibility.credibility.confidence > 0.01" (click)="setDetailTo('as_source')" mat-button color="primary" class="full-width" matTooltip="Expand">
                                    <div class="bigger-icon">
                                        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
                                    </div>
                                </button>
                            </div>
                            <!-- source of urls -->
                            <div fxFlex="33%">
                                <p style="text-align: center;">Sources</p>
                                <div>
                                    <app-credibility-meter [credibility]='tweetCredibility.sources_credibility.credibility' [size]="80">
                                    </app-credibility-meter>
                                </div>
                                <!-- <p>The sources used in the tweet</p> -->
                                <button *ngIf="tweetCredibility.sources_credibility.assessments.length" (click)="setDetailTo('sources')" mat-button color="primary" class="full-width" matTooltip="Expand">
                                    <div class="bigger-icon">
                                        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
                                    </div>
                                </button>
                            </div>
                            <!-- urls -->
                            <div fxFlex="33%">
                                <p style="text-align: center;">URLS</p>
                                <div>
                                    <app-credibility-meter [credibility]='tweetCredibility.urls_credibility.credibility' [size]="80">
                                    </app-credibility-meter>
                                </div>
                                <button *ngIf="tweetCredibility.urls_credibility.assessments.length" (click)="setDetailTo('urls')" mat-button color="primary" class="full-width" matTooltip="Expand">
                                    <div class="bigger-icon">
                                        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <div *ngIf="detail_panel_is_expanded" [@enterAnimation]>
            <div fxLayout="row">
                <h4>Details</h4>
                <span style="flex: 1 1 auto;"></span>
                <button mat-button (click)="closeDetails()" color="accent">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- this is the place for the expansion -->
            <div *ngIf="detail_panel === 'as_source'">
                <app-source-card [sourceAssessment]="tweetCredibility.profile_as_source_credibility">
                </app-source-card>
            </div>
            <div *ngIf="detail_panel === 'urls'">
                <div *ngIf="tweetCredibility.urls_credibility.assessments.length">
                    <div style="max-height: 500px; overflow-y:scroll;" fxLayout="row wrap" fxLayoutGap="10px grid" class="mat-elevation-z8 padded">
                        <!-- | orderBy: -assessment.credibility.value http://fuelinteractive.github.io/fuel-ui/#/pipe/orderby -->
                        <div *ngFor="let assessment of tweetCredibility.urls_credibility.assessments">
                            <div class="mat-elevation-z4">
                                <div class="padded">
                                    <a matTooltip="See details for this URL" (click)="openSourceDialog(assessment)" class="pointer">
                                        <div>
                                            <div class="center" style="text-align: center">
                                                <p><b>
                                                        <a href="{{assessment.itemReviewed}}"
                                                            target="_blank;">{{ (assessment.itemReviewed.length>30)? (assessment.itemReviewed | slice:0:30)+'..':(assessment.itemReviewed) }}</a>
                                                    </b></p>
                                            </div>
                                            <!-- TODO get icon from the website reviewed? or not? -->
                                            <!-- <div style="width: 100px; height: 70px; justify-content: center"
                                                    class="center" fxLayoutAlign="center center">
                                                    <img [src]="'https://logo.clearbit.com/' + assessment.itemReviewed"
                                                        appImgFallback style="max-height: 100%; max-width: 100%;">
                                                </div> -->
                                            <app-credibility-meter [credibility]='assessment.credibility'>
                                            </app-credibility-meter>
                                        </div>
                                    </a>
                                </div>
                                <!-- <button (click)="seeTweets(assessment.tweets_containing, assessment.itemReviewed)" mat-button color="primary" class="full-width" matTooltip="See tweets">
                                    {{assessment.tweets_containing.length}}
                                    Tweet{{(assessment.tweets_containing.length > 1)? 's': ''}} using this URL
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="detail_panel === 'sources'">
                <div *ngIf="tweetCredibility.sources_credibility.assessments.length">
                    <div style="max-height: 500px; overflow-y:scroll;" fxLayout="row wrap" fxLayoutGap="10px grid" class="mat-elevation-z8 padded">
                        <!-- | orderBy: -assessment.credibility.value http://fuelinteractive.github.io/fuel-ui/#/pipe/orderby -->
                        <div *ngFor="let assessment of tweetCredibility.sources_credibility.assessments">
                            <div class="mat-elevation-z4">
                                <div class="padded">
                                    <a matTooltip="See details for this source" (click)="openSourceDialog(assessment)" class="pointer">
                                        <div>
                                            <div class="center" style="text-align: center">
                                                <p><b>{{assessment.itemReviewed}}</b></p>
                                            </div>
                                            <div style="width: 100px; height: 70px; justify-content: center" class="center" fxLayoutAlign="center center">
                                                <img [src]="'https://logo.clearbit.com/' + assessment.itemReviewed" appImgFallback style="max-height: 100%; max-width: 100%;">
                                            </div>
                                            <app-credibility-meter [credibility]='assessment.credibility'>
                                            </app-credibility-meter>
                                        </div>
                                    </a>
                                </div>
                                <!-- <button (click)="seeTweets(assessment.tweets_containing, assessment.itemReviewed)" mat-button color="primary" class="full-width" matTooltip="See tweets">
                                    {{assessment.tweets_containing.length}}
                                    Tweet{{(assessment.tweets_containing.length > 1)? 's': ''}} using this source
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>