<div>
    <h2>Credibility check on Twitter</h2>
    <div>
        <mat-card>
            <form #main_form="ngForm" (ngSubmit)="onSubmit()">
                <app-search-user [formField]="screen_name"></app-search-user>
            </form>
        </mat-card>
        <p></p>
        <div *ngIf="main_profile_state == loadStates.Loading">
            <mat-spinner class="center"></mat-spinner>
            <p style="text-align:center;" class="primary-color">{{loading_str}}</p>
        </div>
        <app-error *ngIf="main_profile_state == loadStates.Error" [message]='error_detail_profile'></app-error>
        <div *ngIf="main_profile_state == loadStates.Loaded">
            <div *ngIf="evaluation_type === 'credibility'">
                <app-profile-card [profileAssessment]="analysis_result" [screen_name]="state_screen_name">
                </app-profile-card>
            </div>
            <div *ngIf="evaluation_type === 'legacy'">
                <app-legacy-analysis [result_you]="analysis_result"></app-legacy-analysis>
            </div>
        </div>
        <p></p>
        <mat-card>
            <h2>The social network of {{state_screen_name}}</h2>
            <p>TODO</p>
        </mat-card>
    </div>
</div>