<div>
    <div>
        <mat-card>
            <form #main_form="ngForm" (ngSubmit)="onSubmit()">
                <app-search-user [formField]="screen_name"></app-search-user>
            </form>
        </mat-card>
        <p></p>
        <mat-spinner *ngIf="main_profile_state == loadStates.Loading" class="center"></mat-spinner>
        <app-error *ngIf="main_profile_state == loadStates.Error" [message]='error_detail_profile'></app-error>
        <div *ngIf="main_profile_state == loadStates.Loaded">
            <app-profile-card [profileAssessment]="analysis_result" [screen_name]="state_screen_name"></app-profile-card>
        </div>
        <p></p>
        <mat-card>
            <h2>The social network of {{state_screen_name}}</h2>
            <p>TODO</p>
        </mat-card>
    </div>
</div>