<div>
  <h2>News sources credibility</h2>
  <p>Here you can check your sources and see how they are assessed by the <a
      [routerLink]="['/credibility/origins']">origins</a> we are considering.</p>
  <mat-card>
    <form #main_form="ngForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field>
          <mat-label for="source">Source</mat-label>
          <input matInput placeholder="e.g. snopes.com" required="true" [formControl]="source"
            pattern="[a-zA-Z0-9_.-]+">
          <mat-error *ngIf="!source.valid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" [disabled]="!source.valid">Check</button>
      </div>
    </form>
  </mat-card>
  <p></p>
  <div>
    <mat-spinner *ngIf="source_loading_state == loadStates.Loading" class="center"></mat-spinner>
    <app-error *ngIf="source_loading_state == loadStates.Error" [message]='error_detail_source'></app-error>
    <div *ngIf='source_loading_state == loadStates.Loaded'>
      <app-source-card [sourceAssessment]="analysis_result"></app-source-card>
    </div>
  </div>

</div>