<div>
  <h2>Credibility check</h2>
  <mat-card>
    <div>
      <p>Assess the credibility of your information source according to
        <!-- reputable fact-checking institutions -->
        <a [routerLink]="['/credibility/origins']">reputable assessors</a>.</p>
    </div>
    <form #main_form="ngForm" (ngSubmit)="onSubmit()">
      <app-search-source [formField]="source" (prefix_change)="source_prefix = $event"></app-search-source>
    </form>
  </mat-card>
  <p></p>
  <div>
    <mat-spinner *ngIf="source_loading_state == loadStates.Loading" class="center"></mat-spinner>
    <app-error *ngIf="source_loading_state == loadStates.Error" [message]='error_detail_source'></app-error>
    <div *ngIf='source_loading_state == loadStates.Loaded'>
      <app-source-card [sourceAssessment]="analysis_result"></app-source-card>
    </div>
  </div>

</div>